/* 
Graphic profile Artsdatabanken
Just for keeping it nice and availiable
*/

.graphic_profile{
  background: #ffffff;
  background:rgb(255,255,255);
  background: #4c4a48;
  background:rgb(76,74,72);
  background: #7f726b;
  background:rgb(128,115,105);
  background: #de8608;
  background:rgb(222,135,9);
  background: #eb6109;
  background:rgb(235,98,9);
}

body{
  box-sizing: border-box;
  font-family: "Roboto";
  background-color: hsl(344, 0%, 98%);
  color: #4c4a48;
}


a:link {
  color:#7f726b;
}
a:visited {
  color: #7f726b;
}
a:hover {
  color:#eb6109;
}

/*Placement of items on the page */
.header_padding,
.page_padding{
  max-width:90%;
  box-sizing:border-box;
  margin-left:auto;
  margin-right:auto;
}

@media only screen and (min-width: 1000px) {
  .header_padding,
  .page_padding{
    width:90%;
    max-width:calc(1000px);
  } 
}

.page_padding{
  padding:10px;
  margin-top: calc(20px * 2);
}

/* The top bar*/
.header_background{
  background:#4c4a48;
  position: absolute;
  top:0px;
  left:0px;
  width:100%;
  box-sizing:border-box;
  z-index: 5;
}

.header_background h1{
  color:#ffffff;
  margin:0px;
  padding-bottom:10px;
  padding-top:10px;
  margin-left:calc(100px + 20px);
  font-size:20px;
  font-weight: 200;
}

.top_image{
  top:0px;
  position: absolute;
  width:100px;
  box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);;
  transition:all 0.3s cubic-bezier(.25,.8,.25,1);;
}

.species_header{
  font-family: "Adobe Garmond", "serif";
  font-style: italic;
  color: #7f726b;
}

/*Contains everything, sets background etc. */
.page_container{
  max-width:100%;
  font-size:12pt;
  font-family:  "Roboto", "sans-serif";
}

@media only screen and (max-width: 600px) {
  .form_category,
  .upper_description,
  .page_wrapper h2,
  .page_wrapper h1{
    padding-left:5%;
    padding-right:5%;
    max-width: 100%;
    overflow-wrap: break-word;
  }
}

/* General styling based on our homepage */

h1, h2, h3 {
  color: #777368;
  font-family: "Roboto Condensed";
  font-weight: 700;
}

h1{
  margin-top: 50px;
  line-height: 1.5;
  font-size: 40px;
}

div,
img{
  max-width: 100%;
}

/* content boxes */

.contentContainer{
  position: relative;
  width:100%;
}

.sideContent{
  display:inline-block;
  width:100%;
  max-width:300px;
  position:absolute;
  right:0px;
  vertical-align: top;
}

.mainContent{
  display:inline-block;
  width:calc(100% - 300px);
  position:relative;
  left:0px;
  margin:0px;
  padding-right:50px;
  vertical-align: top;
  background: hsl(344, 0%, 98%,50%);
  box-sizing: border-box;
}

@media only screen and (max-width: 900px) {
  .sideContent{
    width:100%;
    max-width:200px;
    text-align: right;
  }
  .mainContent{
    width:calc(100% - 200px);
  }

}


@media only screen and (max-width: 600px) {
  .sideContent{
    width:100%;
    max-width:100%;
    position:relative;
  }

  .mainContent{
    width:100%;
  }
}

/**** Anchoring images within a div ****/

/* The container for the images */
.imagecontainer{
  position: relative;
}

/* The images inside the container are all set to absolute, 
which means they all start at the same coordinate and are set to 
scale similarily*/
.imagecontainer img{
  position:absolute;
  top:0;
  left:0;
  height:auto;
}

/* As absolute images don't push the page downwards (which we want 
so we know how big a space it needs etc., we set the first instance 
of an image inside the container to be relative. Which means 
it is a regular part of the page */
.imagecontainer img:first-child{
  position:relative;
  filter:saturate(0%) ;
}

/* Turning the top image into a filter by opacity */
.imageFilter{
  opacity:0.6;
  filter:sepia(100%) saturate(8000%) invert(100%) hue-rotate(170deg);
  mix-blend-mode: multiply;  
}
