
thead th{ 
    text-align: left;
    padding-right:10px;
    padding-bottom:10px;
  }
  
  tr { 
    border-bottom: 1px solid #ccc; 
  }
  
  @media only screen and (max-width: 900px) {
    /* Reformatting table for smaller sizes*/
  
    table, thead, tbody, th, td, tr { 
          display: block; 
    }
  
    /* Hide table headers (but not display: none;, for accessibility) */
      thead tr { 
          position: absolute;
          visibility:hidden;
      }
  
    tr { 
      padding:5px;
      padding-left:0px;
      border-bottom: 1px solid #ccc; 
    }
  
    td { 
        /* Behave  like a "row" */
        border: none;
        position: relative;
        padding-left: 50%; 
        margin-bottom:15px;
    }
    td:before { 
          /* Now like a table header */
          position: absolute;
          top: 0px;
          left: 0px;
          width: 45%; 
          padding-right: 10px; 
          white-space: nowrap;
    }
    
      /*
      Label the data
      */
    td:nth-of-type(1):before { content: "Tittel"; }
    td:nth-of-type(2):before { content: "Projeksjon"; }
    td:nth-of-type(3):before { content: "Protokoll"; }
    td:nth-of-type(4):before { content: "Attributter"; }
    td:nth-of-type(5):before { content: "Beskrivelse"; } 
  }