body {
  font-family: "Roboto";
  background-color: hsl(344, 40%, 98%);
  color: rgba(0, 0, 0, 0.87);
}

.blokk {
  background-color: hsl(344, 50%, 96%);
  margin: 0.5em;
  padding: 1em;
  box-shadow: hsla(0, 0%, 0%, 0.14) 0px 2px 14px 0px;
}

hr  {
  margin: 24px;
}
small {
  color: rgba(0, 0, 0, 0.57);
}
h2 {
  font-weight: 600;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.67);
}
h3 {
  color: hsla(0, 0%, 0%, 0.87);
  xfont-family: "Roboto";
  font-weight: 400;
  font-size: 1.6rem;
  xline-height: 1.04;
  xletter-spacing: 0em;
}
a:link {
  color: hsl(344, 80%, 38%);
}
a:visited {
  color: hsl(344, 30%, 38%);
}

a {
  color: hsl(344, 80%, 48%);
}

.photo {
  box-shadow: hsla(0, 0%, 0%, 0.14) 0px 2px 14px 0px;
}

/* -- Material Design Table style -------------- */
table > thead > tr,
table > tbody > tr,
table > tfoot > tr {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  text-align: left;
  padding: 1.6rem;
  vertical-align: top;
  border-top: 0;
  transition: all 0.3s ease;
}
table > thead > tr > th {
  font-weight: 400;
  color: #757575;
  vertical-align: bottom;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
table > tbody + tbody {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
table {
  background-color: hsl(344, 50%, 96%);
  xwidth: 60%;
  max-width: 100%;
  margin-bottom: 2rem;
  box-shadow: hsla(0, 0%, 0%, 0.14) 0px 2px 14px 0px;
  border-radius: 4px;
}
table {
  border: 0;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  border: 0;
  border-bottom: 1px solid #e0e0e0;
}
table > thead > tr > th,
table > thead > tr > td {
  border-bottom-width: 2px;
}
table > tbody > tr:hover > td,
table > tbody > tr:hover > th {
  abackground-color: rgba(0, 0, 0, 0.12);
  background-color: hsl(344, 20%, 88%);
}

table > table {
  margin-bottom: 0;
  background-color: transparent;
}
table > table > thead,
table > table > tfoot {
  display: none;
}
table > table > tbody {
  display: block;
}
table > table > tbody > tr {
  display: block;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  margin-bottom: 1.6rem;
}
table > table > tbody > tr > td[data-title]:before {
  content: attr(data-title);
  float: left;
  font-size: inherit;
  font-weight: 400;
  color: #757575;
}
table > table > tbody > tr {
  border: none;
}
table > tbody > tr > td {
  border: 0;
  border-bottom: 1px solid #e0e0e0;
}
table > tbody > tr > td:last-child {
  border-bottom: 0;
}

table > tbody > tr:hover > td,
table > tbody > tr:hover > th {
  color: hsl(344, 80%, 48%);
}
