body {
  font-family: "Roboto";
  background-color: hsl(344, 0%, 98%);
  color: rgba(0, 0, 0, 0.87);
}

.blokk {
  background-color: hsl(344, 10%, 96%);
  margin: 0.5em;
  margin-bottom: 2em;
  padding: 1em;
  box-shadow: hsla(0, 0%, 0%, 0.14) 0px 2px 14px 0px;
}

small {
  color: rgba(0, 0, 0, 0.57);
}
h2 {
  font-weight: 700;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.77);
  margin-block-end: 0.3em;
}
h3 {
  color: hsla(0, 0%, 0%, 0.87);
  font-weight: 400;
  font-size: 1.6rem;
  margin-block-end: 0.5em;
}
h4 {
  color: hsla(0, 0%, 0%, 0.67);
  font-weight: 500;
  font-size: 1rem;
  margin-block-start: 0em;
  margin-block-end: 1em;
}
.table > h4 {
  margin: 0em;
  padding: 1em;
  padding-bottom: 0em;
}
a:link {
  color: hsl(344, 60%, 38%);
}
a:visited {
  color: hsl(344, 20%, 38%);
}
a {
  color: hsl(344, 60%, 48%);
}
.photo {
  box-shadow: hsla(0, 0%, 0%, 0.14) 0px 2px 14px 0px;
}
/* -- Material Design Table style -------------- */
table > thead > tr,
table > tbody > tr,
table > tfoot > tr {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  text-align: left;
  padding: 1rem;
  vertical-align: top;
  border-top: 0;
  transition: all 0.3s ease;
}
table > thead > tr > th {
  font-weight: 400;
  color: #757575;
  vertical-align: bottom;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
table > tbody + tbody {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.table {
  box-sizing: border-box;
  background-color: hsl(344, 10%, 96%);
  width: 100%;
  max-width: 100%;
  margin: 0.5em;
  margin-bottom: 2em;
  box-shadow: hsla(0, 0%, 0%, 0.14) 0px 2px 14px 0px;
  border-radius: 4px;
  border: 0;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
  border: 0;
  border-bottom: 1px solid #e0e0e0;
}
table > thead > tr > th,
table > thead > tr > td {
  border-bottom-width: 2px;
}
table > tbody > tr:hover > td,
table > tbody > tr:hover > th {
  background-color: hsl(344, 20%, 88%);
}
table > table > tbody > tr {
  display: block;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
}
table > table > tbody > tr > td[data-title]:before {
  content: attr(data-title);
  float: left;
  font-size: inherit;
  font-weight: 400;
  color: #757575;
}
table > tbody > tr > td {
  border: 0;
  border-bottom: 1px solid #e0e0e0;
}
table > tbody > tr:hover > td,
table > tbody > tr:hover > th {
  color: hsl(344, 70%, 48%);
}
