
.sibebar_link_menu{
    border-right:1px solid #4c4a4830;
  }
  
  .sidebar_link,
  .sibebar_link_menu a{
    text-decoration: none;
  }
  
  .sidebar_link{
    color: #4c4a48;
    display: block;
    font-family: "Roboto Condensed";
    margin-top:10px;
  }
  
  .sidebar_children{
    padding-left:40px;
  }
  
  .sidebar_sister_child,
  .sidebar_active_child{
    padding-left:20px;
  }
  
  .sidebar_active_parent,
  .sidebar_active_child{
    text-decoration:  underline;
    font-weight: 800;
  }
  
  ul{
    padding:0px;
  }
  
  .sidebar_link:hover{
    color:#eb6109;
  }
  
  .colour_squares{
    display:inline-block;
    width: 12px;
    height: 12px;
    background-color: rgb(83, 238, 83);
    border-style: solid;
    border-width: 1px;
    margin-right: 4px;
    box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 5px 0px;
    border-color: rgba(0, 0, 0, 0.33);
  }
  
  .tag{
    display: inline-block;
    position: absolute;
    right:0px;
    top:0px;
    border-radius: 16px;
    margin: 0px;
    height: 26px;
    color: rgba(0,0,0,0.7);
    align-items: center;
    white-space: nowrap;
    justify-content: center;
    margin-right: 8px;
    background-color: rgba(0,0,0,0.1);
  }
  
  .blokk a{
    position: relative;
    width:100%;
    display:inline-block;
  }
  